$can_google_maps  = 1;
$can_gpx          = 1;
$with_lang_switch = 1;
$devel_host       = 1;

$can_kml = 1;
$can_gpsies_link = 0;

## Keine PLZ-Datei f<C3><BC>rXYZ vorhanden.
@PLZ::plzfile = ("/nonexisting");

$PLZ::OLD_AGREP = $Strassen::OLD_AGREP = 0;
$VERBOSE = 0;

# warn "Test: ", $ENV{SCRIPT_NAME}, "\n";
$use_bbbikedraw_compress = 1;

# geo data imported from openstreetmap.org project
$osm_data = 1;

# show a minimal map of the route on the first result page
$show_mini_map = 1;

# show a slippy map, overrides $show_mini_map
$show_mini_googlemap = 1;

$enable_opensearch_suggestions = 1;

$enable_google_analytics = 1;

$use_background_image = 0;

# not working with OSM data
$with_green_ways = 0;

$use_utf8 = 1;
$use_via = 0;

$no_teaser = 0;
$no_teaser_right = 1;
$teaser_bottom = 1;

$slippymap_zoom = 5;
$slippymap_zoom_maponly = 4;

# Enable the following if the osm data was built with wgs84
# coordinates. Note that this is dangerous in mod_perl operation, as
# it changes subroutine definitions globally!
if (1) {
    no warnings 'redefine';

    require Strassen::Util;
    *Strassen::Util::strecke   = \&Strassen::Util::strecke_polar;
    *Strassen::Util::strecke_s = \&Strassen::Util::strecke_s_polar;
    if (defined &StrassenNetz::make_net_PP) {
        *StrassenNetz::make_net = \&StrassenNetz::make_net_PP;
    }
}

$enable_opensearch_plugin = 1;
$enable_rss_feed = 1;
$show_mini_googlemap_city = 1;
$nice_abc_list = 0;

$data_is_wgs84 = 1;

# $slippymap_zoom_city = 6;

# show streets on homemap in real time
$enable_homemap_streets = 1;

1;

