$can_google_maps  = 0;
$can_gpx          = 0;
$with_lang_switch = 1;
$devel_host       = 1;

## Keine PLZ-Datei f<C3><BC>rXYZ vorhanden.
@PLZ::plzfile = ("/nonexisting");

$PLZ::OLD_AGREP = $Strassen::OLD_AGREP = 0;
$VERBOSE = 0;

# warn "Test: ", $ENV{SCRIPT_NAME}, "\n";
$use_bbbikedraw_compress = 1;

# geo data imported from openstreetmap.org project
$osm_data = 1;

# show a minimal map of the route on the first result page
$show_mini_map = 1;

$enable_opensearch_suggestions = 1;

$enable_google_analytics = 1;

$use_background_image = 0;

# not working with OSM data
$with_green_ways = 0;

$use_utf8 = 1;
$use_via = 0;

