.gitignore
web/[A-Z]*
web/bbbike
web/cgi
web/doc
web/html
web/images
web/berlin
web/[a-z][a-z]
web/m/
web/data-osm
web/favicon.ico
web/osm
web/osp
tmp
sitemap/files/bbbike-org.txt
web/sitemap.xml.gz
download/sitemap.xml.gz
web/garmin/
etc/lighttpd/test-more.conf
web/data
