$can_google_maps  = 1;
$can_gpx          = 1;
$with_lang_switch = 1;
$devel_host       = 1;

$PLZ::OLD_AGREP = $Strassen::OLD_AGREP = 0;
$VERBOSE = 1;

# warn "Test: ", $ENV{SCRIPT_NAME}, "\n";
$use_bbbikedraw_compress = 1;

# geo data imported from openstreetmap.org project
$osm_data = 0;

# show a minimal map of the route on the first result page
$show_mini_map = 1;

$enable_opensearch_suggestions = 1;

$enable_google_analytics = 1;

$can_gpx = 1;
$can_kml = 1;

$use_via = '1';
$use_utf8 = 1;

