# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

#####################################################
# extract.bbbike.org 
LANG=en_US.UTF-8

#*/6 * * * * cd /usr/local/www/bbbike.org/ && world/bin/extract-cron.sh --job=7

##* * * * * cd /usr/local/www/bbbike.org/ && world/bin/extract-cron.sh --job=8
* * * * * cd /usr/local/www/bbbike.org/ && ( for i in 1 2 3;do world/bin/extract-cron.sh --job=9; sleep 15.77; done )
* * * * * cd /usr/local/www/bbbike.org/ && sleep 27.3 && ( for i in 1 2 3;do world/bin/extract-cron.sh --job=9; sleep 19.22; done )

#####################################################

# extract-pro.bbbike.org 
*/2 * * * * cd /usr/local/www/bbbike.org/ && BBBIKE_EXTRACT_PROFILE=$HOME/.bbbike-extract-pro.rc world/bin/extract-cron.sh --job=3

# disk full?
8 */2 * * * $HOME/projects/bbbike/world/bin/extract-watermark

# cleanup old extracts
*/15 * * * * cd /usr/local/www/bbbike.org/ && make -s extract-gc7 extract-gc && make -s EXTRACTS_SPOOL_DIR=/opt/bbbike/extract-pro extract-gc7 extract-gc

# bitrot?
#25 * * * * $HOME/projects/bbbike/world/bin/planet-checksum

MAILTO=wosch
# m h  dom mon dow   command
#4 17-2 * * *     cd $HOME/projects/bbbike/ && world/bin/planet-download-alert
43 9-23,0-3 * * *     cd $HOME/projects/bbbike/ && world/bin/planet-download-alert

# stale jobs?
49 * * * *     find /opt/bbbike/extract/confirmed -name '*.json' -mtime +240 -ls
