#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS


JAVALIBS_TARBALL=	OsmAndMapCreator-development-2012-11-17.tar.gz mkgmap-r2373.tar.gz osmosis-0.40.1.tar.gz splitter-r200.tar.gz
HOMEPAGE_TARBALL=	http://debian.bbbike.org
JAVALIBS_DIR=	/var/lib/bbbike/opt

clean: 
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -p $(CURDIR)/debian/src
	cd $(CURDIR)/debian/src; \
	  for i in ${JAVALIBS_TARBALL}; do \
		test -e $$i || wget ${HOMEPAGE_TARBALL}/src/$$i; \
	  done
		
	mkdir -p $(CURDIR)/debian/tmp/${JAVALIBS_DIR}
	for i in ${JAVALIBS_TARBALL}; do \
	  gzip -dc $(CURDIR)/debian/src/$$i | tar -C$(CURDIR)/debian/tmp/${JAVALIBS_DIR} -xvf -; \
	done

	cd $(CURDIR)/debian/tmp/${JAVALIBS_DIR}; \
	  ln -s OsmAndMapCreator-development-2012-11-17 OsmAndMapCreator-development; \
	  ln -s mkgmap-r2373 mkgmap; \
	  ln -s osmosis-0.40.1 osmosis; \
	  ln -s splitter-r200 splitter
	#dh_install

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
	dh_installinit
	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps 
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build-indep install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: install
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch
.PHONY: build clean binary install install-indep install-arch configure

%:
	dh $@ 


