/* for http://extract.bbbike.org only */
div#all {
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

div#map { width: 100%; height: 100%; }

#debug { color: red; font-size: small; }

div#footer_community { display: none; }

div#footer { margin: 0.5em; }

div#copyright {
  font-size: small;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
}

div#border {
	padding: 0px;
	background-color: #FFF;
}

div#intro {
	position:static;
	margin: 0.3em;
}

div#message {
	position:relative;
}

div#table {
 position:relative;
 top:0;
 left:0;
 width: 21em;
 margin: 0.0em;
 border-spacing: 1px;
}

table {
 border-spacing: 0px;
}


input[type=submit] { margin-top: 0.5em; }

table tr td { padding: 3px; }

/* large green submit button, to focus user actions */
form input[type=submit] {
        color: green;
        font-size: large;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

div#export_osm_too_large { color: red }

#locate { position:absolute; right: 0; }
#social { position:absolute; right: 20px; bottom: -2px; }

#sidebar_left, #footer {
	width: 23.5em;
	position: absolute;
}

#footer {
	bottom: 0em;
}

#map {
	left: 23.5em;
	position: relative;
	width: 100%;
}

#sidebar_content { padding: 0px; margin: 0px; }

hr { margin-top: 0.2em; margin-bottom: 0.2em; }

#result { margin-top: 1em; padding: 0.5em; padding-bottom: 4em; }

span#noscript { 
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

span#square_km_small, span#size_small, span#time_small { 
	font-size: small; 
	font-style: italic;
	color: #808080; /* grey; */
}

input#city, input#email { width: 95%; } 

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 50px;
    left: 50%;
    
    margin-left: -350px;
    /* width: 640px; */
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
}
.jqmWindowLarge { width: 640px; }
.jqmWindowSmall { width: 340px; }

* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (
document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqmOverlay { background-color: #000; }

div.dialog-title {
    background-color: #000000;
    color: #ffffff;
    padding: 2px 6px;
    font-weight: bold;
}

div.dialog-title img {
    position: absolute;
    right: 2px;
}

div.dialog-msg {
    padding: 12px;
    /* height: 600px; */
    overflow: auto;
    font-size: 100%;
}

div.dialog-msg td {
    vertical-align: top;
    padding: 2px 0px;
    border-bottom: 1px dotted #ffffff;
    font-size: small;
}

img.logo { border: 0px; }
span#social { padding-right: 0.5em }
div#header_links { font-size: small; }
span.current_language { font-size: large; }
span#language_switch a { color: green; }

span#maplink { font-size: small; }
div#footer { font-size: small; text-align: center; padding-top: 0.7em; }
div#footer_top { text-align: left; }
div#footer_community { padding-top: 0.5em; padding-bottom: 0.5em }
a         {text-decoration: none; color: green; }

a.tools-helptrigger img, a.tools-helptrigger-small img { 
   height: 13px;
   width: 13px;
   border: 0;
   opacity:0.75;
}

a.tools-helptrigger:hover img, a.tools-helptrigger-small:hover img { 
  opacity: 1.0;
}

.lnglatbox, .lnglatbox_toggle {
    opacity: 0.6;
    font-size: small;
}

/* disabled by default */
.lnglatbox { display: none; }
.lnglatbox_toggle { display: inline; }

td { white-space: nowrap; }

#extract-pro { font-size: x-large; }

