[Unit]
Description=Varnish HTTP accelerator log daemon
After=varnish.service

[Service]
User=varnishlog
Group=varnish
Type=forking
ExecStart=/usr/bin/varnishncsa -D -a -w /var/log/varnish/varnishncsa.log -P /var/log/varnishncsa/varnishncsa.pid
ExecReload=/bin/kill -HUP $MAINPID
PrivateDevices=true
PrivateNetwork=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
PIDFile=/var/log/varnishncsa/varnishncsa.pid

[Install]
WantedBy=multi-user.target


