[Unit]
Description=Varnish HTTP accelerator

[Service]
Type=forking
Restart=always
LimitNOFILE=131072
LimitMEMLOCK=82000
EnvironmentFile=/etc/default/varnish
PIDFile=/run/varnishd.pid
ExecStart=/usr/sbin/varnishd $DAEMON_OPTS
#ExecReload=/usr/share/varnish/reload-vcl
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
